footer {
  background-color: rgb(9, 4, 40);
  padding-bottom: 50px;
  padding-top: 50px;
}

footer .container {
  display: flex;
  gap: 100px;
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer-contacts__link {
  color: white;
}

.footer-contacts__icon {
  fill: white;
  margin-right: 20px;
}
