.header {
    width: 100%;
    padding-top: 30px;
    padding-bottom: 30px;
    // position: fixed;
  top: 0;
  left: 0;
  background-image: linear-gradient(
    to bottom,
    rgb(15, 3, 41),
    rgba(21, 5, 57),
    rgb(30, 8, 82)
  );
  backdrop-filter: blur(3px);
  z-index: 100;
}

.pages {
    display: flex;
    justify-content: center;
    gap: 30px;
    
}

.pages__link {
    color: white;
    font-size: 20px;
    transition: color 250ms cubic-bezier(0.075, 0.82, 0.165, 1) 250ms;
}

.pages__link:hover {
    color: rgb(56, 133, 240); 
}